@import "./reset.css";
@value customBlack, customWhite, customGrey from './common/colors.css';

* {
  color: customWhite;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow-y: scroll;
}

/* hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input,
select,
textarea,
button {
  all: unset;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: customGrey;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: customGrey;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: customGrey;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: customGrey;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: customGrey;
}
::placeholder {
  /* Most modern browsers support this now. */
  color: customGrey;
}

select {
  -moz-appearance: auto; /* Firefox */
  -webkit-appearance: auto; /* Safari and Chrome */
  appearance: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: customWhite;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
