@value customBlack from '../../common/colors.css';

.modalBlock {
  position: fixed;
  top: 5rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: customBlack;
  opacity: 0.8;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem;
}

.result {
  opacity: 1;
  padding: 3rem;
}

.noResultMessage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: flex-start;
}

.noResultMessage > span {
  font-size: 2rem;
}

.stillcutTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.stillcuts {
  width: 100%;
  min-width: 50rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.stillcutContainer {
  height: 12vw;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.stillcut {
  object-fit: cover;
  height: 100%;
}

.similarWordBlock {
  padding-left: 2rem;
}

.similarWordTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.similarWords {
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.similarWord {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
