@value customBlack from '../../common/colors.css';

.navBar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: customBlack;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.titleImage {
  height: 60%;
  z-index: 11;
}

.searchBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fallBackArrowIcon,
.searchIcon {
  width: 30px;
  height: 100%;
  font-size: 30px;
}

.searchInput {
  width: 200px;
  height: 50%;
  font-size: 15px;
  border: solid 1.5px grey;
  padding-left: 10px;
  padding-right: 10px;
}

.input,
textarea {
  background-color: customBlack;
}
